/* import font */

/* 1 . Poppins */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 2 . Poppins */ 


/* Reset style of browsers */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.primary-btn {
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #114855;
    /* Shadow Dark */
    box-shadow: 0px 30px 60px 0px rgba(25, 55, 102, 0.25);
    width: fit-content;
    text-decoration: none;
    color: #F4F7FF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
}
/* Bases */ 
body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #114855;
}
.underline {
    text-decoration: underline;
}
.empty-text {
    -webkit-text-stroke: 1px red;
}
.header {
    background: linear-gradient(180deg, #60C4AA 0%, rgba(96, 196, 170, 0.90) 0.01%, rgba(96, 196, 170, 0.20) 86.69%, rgba(96, 196, 170, 0.00) 100%);
    position: relative;
    overflow: hidden;
    width: 100%;
}
.header-content {
    padding: 40px 30px;
    max-width: 1200px;
    margin: 0 auto;
    flex-basis: 100%;
}
.main-title {
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 45px;
}
.main-title  > span {
    font-weight: 700;
}


h2 {
    
}
h2 > span {
    font-weight: bold;
}
.sub_main-title {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    margin-bottom: 40px;
    z-index: 2;
}
.header-branding {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 40px;
}
.header-branding > div {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    justify-content: space-between;
}
.header-branding > div > img {
    height: 20px;
}
.header-bg-line {
    transform: rotate(15deg);
    position: relative;
    right: 10px;
    top: -220px;
}
.header-bg-line > img {
    height: 600px;
}
.illustration-container {
    position: absolute;
    right: -144px;
    top: 490px;
    height: 500px;
    width: 500px;

}
.illustration-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    

}
.video {
    position: absolute;
    top: 205px;
    left: 285px;
    height: 106px;
    width: 106px;
}
.video video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
@media screen and (min-width: 650px) {
    .header-branding > div > img  {
        height: 40px;
        margin-right: 35px;
    }
    .header-branding > div {
        justify-content: flex-start;
        margin-top: 40px;
    }
    .illustration-container {
        top: 120px;
    }
    .header-bg-line {
        position: absolute;
        right: -100px;
        top: -50px;
    }
    
}

@media screen and (min-width: 1000px) {
    .main-title  {
        font-size: 55px;
        line-height: 65px;
    }
    .illustration-container  {
        height: 800px;
        width: 800px;
    }
    .video {
        top: 325px;
        left: 455px;
        height: 191px;
        width: 191px;
    }
    .header-bg-line {
        position: absolute;
        right: -250px;
        top: -320px;
    }
    .header-bg-line > img {
        height: 1000px;
    }
    .sub_main-title{
        font-size: 30px;
    }
}

